/* Start A Global Roles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    display: block;
    color: black;
    text-decoration: none;
}
ul {
    list-style: none;
}
body {
    font-family: "Varela", sans-serif;
    font-weight: 400;
    font-style: normal;
}
:root {
    --main-color: #102a42;
    --page-color: #c5e5fc4f;
    --main-button: #c88a2d;
    --border-radius: 5px;
    --main-transition: 0.4s;
}
.container {
    margin: 0 30px;
}
@media (max-width: 676px) {
    .container {
        margin: 0 10px;
    }
}
/* End A Global Roles */
.page {
    text-align: center;
    background-color: var(--page-color);
    width: 100%;
    padding: 30px;
    min-height: 100vh;
}
.page h1 {
    color: var(--main-color);
}
.page ul {
    margin: 50px 0;
}
.page ul li {
    display: inline-block;
    padding: 5px;
    margin-right: 10px;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: var(--main-transition);
    margin-bottom: 20px;
    border: 2px solid var(--main-button);
}
.page ul li:hover {
    background-color: var(--main-button);
}
.page .foods {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 30px;
}
.page .foods .box {
    display: none;
    justify-content: space-between;
}
@media (min-width: 768px) {
    .page .foods .box.show {
        display: flex;
    }
}
@media (max-width: 767px) {
    .page .foods .box.show {
        display: block;
    }
}
.page .foods .box .image {
    margin-right: 30px;    
}
.page .foods .box img {
    width: 250px;
    border: 4px solid var(--main-button);
    border-radius: var(--border-radius);
    -webkit-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);
    -ms-border-radius: var(--border-radius);
    -o-border-radius: var(--border-radius);
}
.foods .box .desc {
    width: 100%;
}
.foods .box .desc .name_price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: var(--main-color) 2px dotted;
    
}
.foods .box .desc .name_price p {
    text-align: left;
    color: var(--main-button);
    font-weight: 600;
}
.foods .box .desc p {
    text-align: left;
}
@media (max-width: 767px) {
    .page .foods {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
    .page .foods .box img {
        width: 100%;
    }
    .page .foods .box .image {
        margin-bottom: 10px;
        margin-right: 0;
    }
}




