// Start Global Variables

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Rubik", sans-serif;
    font-weight: 700;
}

button {
    outline: 0;
    border: 0;
}

a {
    text-decoration: none;
}


.container {
    margin: 0 200px;
    padding: 20px;
}
@media (max-width: 767px) {
    .container {
        margin: 0 50px;
    }
}


ul {
    list-style: none;
}




