// import colors
@use "../variables/colors" as *;

// Flex Mixins
@mixin flex($display, $justify, $align) {
    display: $display;
    justify-content: $justify;
    align-items: $align;
}
@mixin center_flex {
    @include flex(flex, center, center);
}

@mixin center_ele {
    display: flex;
    min-height: 100vh;
}

@mixin evenly_flex {
    @include flex(flex, space-evenly, center);
}

@mixin between_flex {
    @include flex(flex, space-between, center);
}


// Component Mixins
@mixin button_style {
    color: #161616;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    border-radius: $border-radius;
    transition: $transition;
}



