// Flex Mixins
@mixin flex($display, $justify, $align) {
    display: $display;
    justify-content: $justify;
    align-items: $align;
}
@mixin center_flex {
    @include flex(flex, center, center);
}

@mixin center_ele {
    display: flex;
    min-height: 100vh;
}

@mixin evenly_flex {
    @include flex(flex, space-evenly, center);
}

@mixin between_flex {
    @include flex(flex, space-between, center);
}