// start colors

$background_color: #F5F5F5;
$border-radius: 5px;
$box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
$transition: all 0.3s ease;
$accent-color: #2196F3; // Blue for the counter
$primary-color: #4CAF50;
$border-color: #E0E0E0;
$text-color: #161616;
$white: white;
$toggle-color: #cecece;
$stop_color: rgb(252, 59, 59);
