// import global roles
@use "../layout/global_roles" as *;
// import colors
@use "../variables/colors" as *;
// import helpers
@use "../helpers/mixin" as *;


// Start Content
.page_content {
    @include center_ele;
    background-color: $background_color;
    padding: 100px 20px 20px;
    @media (max-width: 767px) {
        & {
            padding-top: 50px;
        }
    }
}
// End Content
// Start List
.title {
    text-align: center;
    margin-bottom: 50px;
}
ul.list_options {
    @include evenly_flex;
    background-color: $background_color;
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    margin-bottom: 50px;
    li {
        @include button_style;
        &:hover {
            border-radius: $border-radius;
            background-color: $accent-color;
            transition: $transition;
            color: $white;
        }
    }
}
// End List
// Start Date
.clock {
    align-items: center;
    display: grid;
    text-align: center;
    margin-top: 30px;
}
.date {
    height: 100px;
    @include center_flex;
}
// End Date
// Start Alarm
.alarm {
    .inputs {
        input {
            margin-bottom: 20px;
            padding: 5px 10px;
            &.btn {
                background-color: $accent-color;
                font-size: 16px;
                color: $white;
                border-radius: $border-radius;
                font-weight: inherit;
                &:hover {
                    background-color: black;
                }
            }
            cursor: pointer;
        }
    }
    .set_alarms {
        .box {
            @include between_flex;
            padding: 10px 20px;
            .custom {
                @include between_flex;
                font-size: 18px;
                p {
                    cursor: pointer;
                    background-color: $toggle-color;
                    box-shadow: $box-shadow;
                    width: 50px;
                    height: 22px;
                    margin-right: 20px;
                    border-radius: 10px;
                    position: relative;
                    .circle {
                        display: block;
                        background-color: grey;
                        width: 44%;
                        height: 100%;
                        border-radius: 50%;
                        border: 2px solid $toggle-color;
                        position: absolute;
                        top: 0;
                        left: 2px;
                        transition: $transition;
                        &.active {
                            right: 2px;
                            left: auto;
                            background-color: $accent-color;
                        }
                    }
                }
                i.delete {color: $accent-color; cursor: pointer;}
            }
        }
    }
}
// End Alarm
// Start Counter
.counter {
    .text_counter {
        font-size: 30px;
        margin-bottom: 20px;
    }
    .btns {
        button {
            @include button_style;
            &.stop {
                margin-right: 10px;
            }
            &.stop:hover { background-color: $stop_color; }
            &.start:hover { background-color: $accent-color; }
            &:hover {color: white;}
        }
    }
}
// End Counter






