// Flex Mixins
 

@mixin flex_between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin grid_ele {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    grid-auto-rows: 200px;
    gap: 20px;
}