// Import Filies
// Global Rules
@use "../layout/global_roles" as *;
// Colors
@use "../variables/colors" as *;
// Mixins
@use "../helpers/mixin" as *;
// Functions
@use "../helpers/functions" as *;


// Start Page Content
.content {
    position: relative;
}
.page_content {
    background-color: $main_color;
    min-height: 100vh;
    padding: 20px;
    
}
// End Page Content
// Start Language
.languages {
    position: absolute;
    top: -8px;
    right: -20px;
    cursor: pointer;
    .icon {
        padding: 5px 15px;
        border: 2px solid $border_color;
        border-radius: 20px;
        margin-bottom: 10px;
        color: $white;
        font-size: 16px;
        transition: $transition;
        &:hover {
            border-color: $white;
        }
    }
    .list_languages {
        padding: 5px;
        display: none;
        background-color: black;
        text-align: center;
    }
    &:hover .list_languages {
        display: block
    }
}
// End Language 
// Start Title
.title {
    @include centered-margin;
    h1 {
        color: $white;
    }
}
// End Title
// Start With Inputs
.inputs {
    @include centered-margin;
    @include text-margin;
    & form {
        @include grid_eles;
        div {
            input {
                width: 100%;
                padding: 5px 10px;
                font-size: 20px;
                font-weight: inherit;
                border-radius: $border_radius;
                background-color: $input_color;
                border: 1px solid $border_color;
            }
            input.submit {
                background-color: $green;
                cursor: pointer;
                transition: $transition;
                &:hover {
                    background-color: $hover_green;
                }
            }
        }

    }
}
// End With Inputs
// Start Employees Table
.all_employee {
    text-align: center;
    margin-bottom: 30px;
    @include text-margin;
    .table_container {
        overflow-x: auto;
        table {
            width: 100%;
            border-collapse: collapse;
            border: 2px solid $white;
            tr {
                td {
                    color: white;
                    button {
                        color: inherit;
                        font-weight: inherit;
                        transition: $transition;
                        margin-right: 5px;
                    }
                    button.delete {
                        background-color: $red;
                        &:hover {
                            background-color: $hover_red;
                        }
                    }
                    button.edit {
                        background-color: $green;
                        &:hover {
                            background-color: $hover_green;
                        }
                    }
                }
                th, td {
                    padding: 7px 10px;
                    border: 2px, solid $white;
                }
            }
        }
        @media (max-width: 992px) {
            & {
                border: 2px solid;
                border-color: $border_color transparent;
                padding: 15px;
            }
            table {
                min-width: 650px;
            }
        }
    }
    
}


// End Employees Table





