/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styling */
body {
  font-family: "Rubik", sans-serif;
  line-height: 1.6;
  font-weight: 600;
}

/* Links */
a {
  text-decoration: none;
  color: #3498db;
  font-size: 15px;
}

a:hover {
  color: #2980b9;
}

/* Paragraphs */
p {
  margin-bottom: 1rem;
}

/* Button styling  and input */
button {
  border: none;
  padding: 8px 18px;
  text-align: center;
  cursor: pointer;
}

input {
  outline: 0;
  border: 0;
}

/* UL */
ul {
  text-decoration: none;
  list-style: none;
}

/* container */
.container {
  margin: 0 70px;
}

@media (max-width: 767px) {
  .container {
    margin: 0 20px;
  }
}
.content {
  position: relative;
}

.page_content {
  background-color: #2C3E50;
  min-height: 100vh;
  padding: 20px;
}

.languages {
  position: absolute;
  top: -8px;
  right: -20px;
  cursor: pointer;
}
.languages .icon {
  padding: 5px 15px;
  border: 2px solid #CCCCCC;
  border-radius: 20px;
  margin-bottom: 10px;
  color: #FFFFFF;
  font-size: 16px;
  transition: 0.3s;
}
.languages .icon:hover {
  border-color: #FFFFFF;
}
.languages .list_languages {
  padding: 5px;
  display: none;
  background-color: black;
  text-align: center;
}
.languages:hover .list_languages {
  display: block;
}

.title {
  margin-bottom: 50px;
  text-align: center;
}
.title h1 {
  color: #FFFFFF;
}

.inputs {
  margin-bottom: 50px;
  text-align: center;
}
.inputs .text h2 {
  margin-bottom: 10px;
  color: #FFFFFF;
}
.inputs form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}
.inputs form div input {
  width: 100%;
  padding: 5px 10px;
  font-size: 20px;
  font-weight: inherit;
  border-radius: 4px;
  background-color: #FAFAFA;
  border: 1px solid #CCCCCC;
}
.inputs form div input.submit {
  background-color: #4CAF50;
  cursor: pointer;
  transition: 0.3s;
}
.inputs form div input.submit:hover {
  background-color: #388E3C;
}

.all_employee {
  text-align: center;
  margin-bottom: 30px;
}
.all_employee .text h2 {
  margin-bottom: 10px;
  color: #FFFFFF;
}
.all_employee .table_container {
  overflow-x: auto;
}
.all_employee .table_container table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid #FFFFFF;
}
.all_employee .table_container table tr td {
  color: white;
}
.all_employee .table_container table tr td button {
  color: inherit;
  font-weight: inherit;
  transition: 0.3s;
  margin-right: 5px;
  border-radius: 4px;
}
.all_employee .table_container table tr td button.delete {
  background-color: #F44336;
  margin-bottom: 5px;
}
.all_employee .table_container table tr td button.delete:hover {
  background-color: #D32F2F;
}
.all_employee .table_container table tr td button.edit {
  background-color: #4CAF50;
}
.all_employee .table_container table tr td button.edit:hover {
  background-color: #388E3C;
}
.all_employee .table_container table tr th, .all_employee .table_container table tr td {
  padding: 7px 10px;
  border: 2px, solid #FFFFFF;
}
@media (max-width: 992px) {
  .all_employee .table_container {
    border: 2px solid;
    border-color: #CCCCCC transparent;
    padding: 15px;
  }
  .all_employee .table_container table {
    min-width: 700px;
  }
}/*# sourceMappingURL=main-ltr.css.map */