/* Start Global Roles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Rubik", sans-serif;
}
:root {
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    --clr-primary-3: hsl(205, 72%, 37%);
    --clr-primary-4: hsl(205, 63%, 48%);
    --clr-primary-5: #49a6e9;
    --clr-primary-6: hsl(205, 89%, 70%);
    --clr-primary-7: hsl(205, 90%, 76%);
    --clr-primary-8: hsl(205, 86%, 81%);
    --clr-primary-9: hsl(205, 90%, 88%);
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --border-radius: 5px;
}
/* End Global Roles */
/* Start Content Page */

section {
    min-height: 100vh;
    width: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
    padding: 30px;
}
section .notepad {
    width: 550px;
    padding: 20px;
    background-color: #eee;
    border-radius: var(--border-radius);
    text-align: center;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}
@media (max-width: 767px) {
    section .notepad {width: 100%;}
}
section .notepad h1 {
    color: #641cff;
    font-size: 35px;
    margin-bottom: 30px;
}
section .notepad .alert {
    padding: 5px 0;
    display: none;
    color: white;
    font-size: 16px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
section .notepad .alert.show {
    display: block;
}
section .notepad .alert.show.green {
    background-color: green;
}
section .notepad .alert.show.red {
    background-color: red;
}
section form {
    margin-bottom: 20px;
}
section form input {
    outline: 0;
    border: 0;
}
section .notepad form .add {
    display: grid;
    grid-template-areas: "add add add add submit";
    width: 100%;
    height: 30px;
    background-color: var(--clr-primary-3);
    border-radius: var(--border-radius);
}
section form .add_task, section form .add_task + input {
    height: 100%;
    font-size: 20px;
}
@media (min-width: 767px) {
    section form .add_task, section form .add_task + input {
        font-size: 18px;
    }   
}
section form .add_task {
    padding: 5px;
    grid-area: add;
    border: 2px solid #641cff;
}
section form .submit_edit {
    grid-area: submit;
    cursor: pointer;
    background-color: #641cff;
    color: white;
}
.clear_btn {
    display: none;
    font-size: 18px;
    background-color: red;
    width: 100%;
    padding: 5px;
    border: 0;
    outline: 0;
    color: white;
    border-radius: var(--border-radius);
    cursor: pointer;
}
.clear_btn.show {
    display: block;
}



