/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: "Rubik", sans-serif;
    line-height: 1.6;
    font-weight: 600;
}

/* Links */
a {
    text-decoration: none;
    color: #3498db;
}

a:hover {
    color: #2980b9;
}


/* Paragraphs */
p {
    margin-bottom: 1rem;
}


/* Button styling  and input */
button {
    border: none;
    padding: 8px 18px;
    text-align: center;
    cursor: pointer;
}
input {
    outline: 0;
    border: 0;
}

/* container */
.container {
    margin: 0 70px;
}
@media (max-width: 767px) {
    .container {
        margin: 0 20px;
    }
}
