* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "SUSE", sans-serif;
  font-weight: 700;
}

button {
  outline: 0;
  border: 0;
  display: block;
}

input:focus {
  outline: 0;
  border: 0;
}

a {
  display: block;
  text-decoration: none;
  color: black;
}

.container {
  padding: 0 80px;
}

@media (max-width: 767px) {
  .container {
    padding: 0 30px;
  }
}
.title {
  font-weight: 500;
  font-size: 50px;
  letter-spacing: 5px;
}

.page {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
}
.page .main_info {
  margin-right: 40px;
}
.page .main_info .info {
  font-size: 20px;
  font-weight: 500;
  margin: 30px 0;
  line-height: 1.5;
}
.page .main_info .info .special {
  display: inline-block;
  position: relative;
  background-color: white;
  font-weight: 600;
  letter-spacing: 2px;
}
.page .main_info .info .special::before {
  content: "";
  background-color: rgb(239, 239, 0);
  width: 100%;
  position: absolute;
  height: 3px;
  bottom: 0;
  left: 0;
}
.page .main_info .btns {
  display: flex;
}
.page .main_info .btns a {
  transition: 0.3s;
}
.page .main_info .btns a:hover {
  transform: scale(1.05);
}
.page .main_info .btns a {
  background-color: rgba(224, 241, 255, 0.71);
  width: 130px;
  padding: 5px 15px;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.page .main_info .btns a .icon {
  margin-right: 10px;
}
.page .main_info .btns .github {
  margin-right: 10px;
}
.page .main_info .btns .linkedin {
  color: #0e76a8;
}
@media (max-width: 992px) {
  .page .main_info {
    margin-right: 0px;
  }
}
.page .image img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 500px;
}
@media (max-width: 992px) {
  .page .image {
    display: none;
  }
}
@media (max-width: 992px) {
  .page {
    justify-content: center;
  }
}

.projects {
  background-color: rgba(224, 241, 255, 0.71);
  padding-bottom: 50px;
}
.projects .title {
  text-align: center;
  padding: 50px 0 40px;
  position: relative;
}
.projects .title::before {
  position: absolute;
  content: "";
  background-color: rgb(239, 239, 0);
  width: 50px;
  height: 3px;
  bottom: 32px;
  left: 50%;
  transform: translate(-50%, 50%);
}
.projects .boxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}
.projects .boxes .box {
  transition: 0.3s;
}
.projects .boxes .box:hover {
  transform: scale(1.05);
}
.projects .boxes .box {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  height: 320px;
  overflow: hidden;
}
.projects .boxes .box img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  height: 80%;
}
.projects .boxes .box .name {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  font-size: 20px;
  letter-spacing: 4px;
  background: white;
  text-align: center;
  font-weight: 500;
  padding: 20px;
}/*# sourceMappingURL=main.css.map */