// Import Global Roles & Variables & Mixins
@use "../helpers/global_roles" as *;
@use "../helpers/mixins" as *;
@use "../variables/var" as *;





// Start Page 
.page {
    height: 80vh;
    width: 100%;
    @include flex_evenly;
    background-color: white;
    .main_info {
        margin-right: 40px;
        .info {
            font-size: 20px;
            font-weight: 500;
            margin: 30px 0;
            line-height: 1.5;
            .special {
                display: inline-block;
                position: relative;
                background-color: white;
                font-weight: 600;
                letter-spacing: 2px;
            }
            .special::before {
                content: "";
                background-color: $line;
                width: 100%;
                position: absolute;
                height: 3px;
                bottom: 0;
                left: 0;
            }
        }
        .btns {
            display: flex;
            @include scale_ele("a");
            a {
                background-color: $main_color;
                width: 130px;
                padding: 5px 15px;
                font-size: 17px;
                font-weight: 600;
                cursor: pointer;
                box-shadow: $box_shadow;
                .icon {
                    margin-right: 10px;
                }
            }
            .github {
                margin-right: 10px;
            }
            .linkedin {
                color: $linkedin_color;
            }
        }
        @media (max-width: 992px) {
            margin-right: 0px;
        }
    }
    .image {
        img {
            object-fit: cover;
            max-width: 500px;
        }
        @media (max-width: 992px) {
            display: none;
        }
    }
    @media (max-width: 992px) {
        justify-content: center;
    }
}

// End Page 


// Start Projects

.projects {
    background-color: $main_color;
    padding-bottom: 50px;
    .title {
        text-align: center;
        padding: 50px 0 40px;
        position: relative;
    }
    .title::before {
        position: absolute;
        content: "";
        background-color: $line;
        width: 50px;
        height: 3px;
        bottom: 32px;
        left: 50%;
        transform: translate(-50%, 50%);
    }
    .boxes {
        @include grid_ele;
        @include scale_ele('.box');
        .box {
            display: flex;
            flex-direction: column;
            border-radius: 5px;
            box-shadow: $box_shadow;
            height: 320px;
            overflow: hidden;
            img {
                object-fit: cover;
                max-width: 100%;
                height: 80%;
            }
            .name {
                box-shadow: $box_shadow;
                cursor: pointer;
                @include flex_center;
                height: 20%;
                font-size: 20px;
                letter-spacing: 4px;
                background: white;
                text-align: center;
                font-weight: 500;
                padding: 20px;
            }
        }
    }
}

// End Projects

