// Start Colors


$green: #4CAF50;
$hover_green: #388E3C;
$red: #F44336;
$hover_red: #D32F2F;
$input_color: #FAFAFA;
$border_color: #CCCCCC;
$white: #FFFFFF;
$main_color: #2C3E50;
$border_radius: 4px;
$transition: 0.3s;


