/* Start Global Roles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Press Start 2P", system-ui;
}

button {
    outline: 0;
    border: 0;
    display: block;
    cursor: pointer;
}

input {
    outline: 0;
    border: 0;
}

a {
    text-decoration: none;
}

.hidden {
    display: none !important; 
}

span {
    display: inline-block;
}

i {
    display: block;
}
/* End Global Roles */


.container {
    width: 100%;
    height: 100vh;
    color: white;
    background-color: #444;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 80px;
    font-weight: 600;
}

/* .auto-type, .typed-cursor  {
    color: rgb(85, 254, 69);
} */

span {
    color: #55fe45;
}


