


$main_color: rgb(224 241 255 / 71%);
$linkedin_color: #0e76a8;
$back_color: rgb(233, 233, 233);
$box_shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
$transition: 0.3s;
$line: rgb(239, 239, 0);




