// import variables
@use "../variables/var" as *;

@mixin flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flex_between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin flex_evenly {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


@mixin grid_ele {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

@mixin scale_ele($ele) {
    #{$ele} {
        transition: $transition;
        &:hover {
            transform: scale(1.05);
        }
    }
}



