// Import Global Roles & Variables & Mixins
@use "../helpers/global_roles" as *;
@use "../helpers/mixins" as *;
@use "../variables/var" as *;


// Start Conveter
.page {
    height: 100vh;
    background-color: $main_color;
    @include flex_center;
    font-size: 17px;
}
.converter {
    background-color: $box_color;
    width: 500px;
    padding: 30px;
    .title {
        font-size: 30px;
        margin-bottom: 20px;
    }
    div.amount {
        label {
            display: block;
            margin-bottom: 5px;
            font-size: $font_size;
        }
        .amount {
            width: 100%;
            padding: 5px 10px;
            font-size: inherit;
            font-weight: inherit;
        }
        .amount:focus {
            border: 2px solid $main_color;
        }
    }
    div.from_to {
        margin: 30px 0;
        .text {
            @include flex_between;
            margin-bottom: 5px;
            p {
                font-size: $font_size;
            }
        }
        .currencies {
            @include flex_between;
            .from, .to {
                p {
                    margin-bottom: 5px;
                }
                select {
                    padding: 10px;
                    font-weight: inherit;
                    font-size: 15px;
                    option {
                        font-size: 17px;
                    }
                }
            }
            .icon {
                @include flex_center;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                transition: $transition;
                cursor: pointer;
                &:hover {
                    color: white;
                    background-color: $main_color;
                }
                i {
                    font-size: 20px;
                }
            }
        }
    }
    .exchange {
        font-size: 16px;
        margin: 20px auto;
        padding: 15px 20px;
        background-color: $main_color;
        color: white;
        font-weight: inherit;
        cursor: pointer;
        transition: $transition;
        &:hover {
            background-color: #0000c6;
        }
    }
    .result {
        font-size: $font_size;
    }
    @media (max-width: 767px) {
        & {
            width: 300px;
            padding: 20px;
        }
    }
}







