* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
}

button {
  outline: 0;
  border: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

.container {
  margin: 0 200px;
  padding: 20px;
}

@media (max-width: 767px) {
  .container {
    margin: 0 50px;
  }
}
ul {
  list-style: none;
}

.hidden {
  display: none;
}

.portfolio {
  min-height: 100vh;
}

.page {
  height: 100vh;
  background-color: #ededed;
}
.page header {
  background-color: red;
  height: 60px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page header .title {
  font-size: 30px;
}
.page header ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.page header ul li:not(:last-child) {
  margin-right: 20px;
}
.page header i {
  font-size: 20px;
  cursor: pointer;
}
.page header .nav-bar {
  display: none;
}
.page header .close {
  position: absolute;
  top: -60px;
  right: 0px;
  background-color: blue;
  padding: 5px 10px;
  text-align: center;
}
.page header .close.show {
  top: 60px;
}
@media (max-width: 767px) {
  .page header ul {
    background-color: green;
    position: absolute;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 60px;
    height: calc(100% - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 0;
    right: 0;
    transition: 0.3s;
  }
  .page header ul li {
    margin: 0 !important;
    padding: 10px 20px;
  }
  .page header ul.show {
    width: 80%;
    right: 0;
  }
  .page header .nav-bar {
    display: block;
  }
}
.page .main_info {
  height: calc(100vh - 60px);
  text-align: center;
  line-height: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page .main_info img {
  border-radius: 20px;
  width: 500px;
  margin-bottom: 10px;
}
.page .main_info .info .links a {
  background-color: green;
  padding: 5px 20px;
  margin-top: 20px;
}
@media (max-width: 992px) {
  .page .main_info {
    flex-direction: column;
  }
  .page .main_info img {
    width: 200px;
    margin-bottom: 40px;
  }
  .page .main_info .info {
    line-height: 1.7;
  }
}

@media (max-width: 767px) {
  .page {
    position: relative;
  }
}
.projects {
  min-height: 100vh;
}
.projects .title {
  padding: 30px 0 40px;
  text-align: center;
  font-size: 40px;
}
.projects .boxes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(200px, 1fr);
  gap: 15px;
}
.projects .boxes .box {
  background-color: blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.projects .boxes .box div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.projects .boxes .box .watchers, .projects .boxes .box .used {
  height: 20%;
}
.projects .boxes .box .watchers {
  background-color: yellow;
}
.projects .boxes .box .watchers i {
  margin-right: 10px;
}
.projects .boxes .box .repo {
  height: 60%;
  background: orange;
}
.projects .boxes .box .used {
  background-color: grey;
}
.projects .boxes .box .used button {
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 10px;
}/*# sourceMappingURL=main.css.map */