// Import Global Roles & Mixins & Colors
@use "../helpers/global_roles" as *;
@use "../helpers/mixins" as *;
@use "../variables/colors" as *;



// Start Main Page

.portfolio {
    min-height: 100vh;
}

.page {
    height: 100vh;
    background-color: $main_background;

    header {
        background-color: red;
        height: 60px;
        padding: 20px;
        @include flex_between;
        .title {
            font-size: 30px;
        }
        ul {
            @include flex_evenly;
            li:not(:last-child) {
                margin-right: 20px;
            }
        }
        i {
            font-size: 20px;
            cursor: pointer;
        }
        .nav-bar {
            display: none;
        }
        .close {
            position: absolute;
            top: -60px;
            right: 0px;
            background-color: blue;
            padding: 5px 10px;
            text-align: center;
        }
        .close.show {
            top: 60px;
        }
    }

    @media (max-width: 767px) {
        header {
            ul {
                background-color: green;
                position: absolute;
                flex-direction: column;
                display: flex;
                justify-content: center;
                align-items: center;
                top: 60px;
                height: calc(100% - 60px);
                @include flex_center;
                overflow: hidden;
                width: 0;
                right: 0;
                li {
                    margin: 0 !important;
                    padding: 10px 20px;
                }
                transition: 0.3s;
            }
            ul.show {
                width: 80%;
                right: 0;
            }
            .nav-bar {
                display: block;
            }
        }
    }

    .main_info {
        height: calc(100vh - 60px);
        text-align: center;
        line-height: 2;
        @include flex_center;
        img {
            border-radius: 20px;
            width: 500px;
            margin-bottom: 10px;
        }
        .info {
            .links {
                a {
                    background-color: green;
                    padding: 5px 20px;
                    margin-top: 20px;
                }
            }    
        }
            
    }

    @media (max-width: 992px) {
        .main_info {
            flex-direction: column;
            img {
                width: 200px;
                margin-bottom: 40px;
            }
            .info {
                line-height: 1.7;
            }
        }
    }
    
}

@media (max-width: 767px) {
    .page {
        position: relative;
    }
}

// End Main Page


// Start Projects
.projects {
    min-height: 100vh;
    background-color: white;
    .boxes {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-auto-rows: minmax(200px, 1fr);
        gap: 15px;
        .box {
            background-color: blue;
            @include flex_between;
            flex-direction: column;
            & div {
                @include flex_center;
                width: 100%;
            }
            .watchers, .used {
                height: 20%;
            }
            .watchers {
                background-color: yellow;
                i {
                    margin-right: 10px;
                }
            }
            .repo {
                height: 60%;
                background: orange;
            }
            .used {
                background-color: grey;
                button {
                    height: 100%;
                    width: 100%;
                    text-align: center;
                    padding: 10px;
                    font-size: 15px;
                    cursor: pointer;
                }
            }
        }
    }
}

// End Projects


// Start About
.about {
    background-color: $main_background;
    width: 100%;
    height: 300px;
    .info {
        @include flex_evenly;
        .location_info {
            font-size: 20px;
        }
        .ref {
            list-style:disc;
            li:not(last-child) {
                margin-bottom: 10px;
            }
            margin-left: 50px;
        }
    }
}
// End About




