// Import Global Roles
@use "../sass/layout/global_roles" as *;

// Import Variables
@use "../sass/variables/colors" as *;

// Import Mixins
@use "../sass/helpers/mixin" as *;

// Start Custom From Validation
.content {
    @include centering_eles;
    position: relative;
    background-color: $main-background;
    padding: #{$padding_20}px;
    min-height: 100vh;
}
.content.overlay::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgb(0 0 0 / 17%);
    width: 100%;
    height: 100%;
}
.content section {
    width: 500px;
}


.language_chooce {
    position: absolute;
    top: 20px;
    left: 10px;
    font-size: 20px;
    padding: 5px 10px;
    a {
        color: white;
    }
}


.popup {
    width: 300px;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    background-color: $popup_color;
    padding: 10px;
    z-index: 1;
    text-align: center;
    border-radius: $border_radius;
    .icons {
        text-align: right;
        i {
            color: $succes_color;
            background-color: white;
            padding: 10px;
            border-radius: $border_radius;
        }
        i.fa-xmark {
            font-size: 20px;
            cursor: pointer;
        }
    }    
    .text {
        h3 {
            margin: 15px 0 10px;
        }
        input {
            font-size: 20px;
            width: 80px;
            padding: 5px 10px;
            outline: 0;
            border: 0;
            border: 2px solid #b4b4b4;
            border-radius: $border_radius $border_radius;
            margin-bottom: 10px;
        }
        a {
            display: block;
            font-size: 20px;
            width: 100px;
            padding: 5px 10px;
            background-color: $succes_color;
            color: white;
            border-radius: $border_radius $border_radius;
            cursor: pointer;
            margin: 5px auto;
            text-decoration: none;
        }
    }
}
.popup.hidden {
    display: none;
}


form {
    margin-top: 50px;
    background-color: $white_color;
    display: grid;
    grid-template-rows: 60px 1fr 60px;
    border-radius: $border_radius;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    & header {
        @include centering_eles;
        background-color: $grey;
        position: relative;
        border-radius: $border_radius $border_radius 0 0;
        & .image {  
            position: absolute;
            top: -55px;
            & img {
                width: 100px;
                border-radius: 50%;
            }
        }
    }
}


.inputs {
    padding: #{$padding_20}px;
    div {
        margin-bottom: 10px;
    }
    label {
        margin-bottom: 5px;
    }
    .input {
        margin: 0 0 4px;
        border: 2px solid $main-background;
        // inputs
        &::after {
            font-family: "FontAwesome";
            width: 8%;
            display: inline-block;
            text-align: center;
        }
        &.valid { border-color:  $valid; }
        &.valid::after {
            content: "\f058";
            color: $valid;
        }
        &.error { border-color:  $error; }
        &.error::after {
            content: "\f06a";
            color: $error;
        }
        // icons
        i { padding: 0 5px; }
        i.error { color: $error; }
        i.valid { color: $valid }
        i.hidden { display: none; }
    }
    input {
        width: 90%;
        padding: 10px;
        font-size: 16px;
        border: 0;
        outline: 0;
    }
    @media (max-width: 767px) {
        input {
            width: 90%;
        }
    }
    p {
        font-size: 14px;
    }
}


footer {
    background-color: $grey;
    border-radius: 0 0 $border_radius $border_radius;
    @include centering_eles;
    button.submit {
        background-color: $button-color;
        padding: 5px 30px;
        width: 250px;
        font-size: 16px;
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
        border-radius: $border_radius;
        font-weight: inherit;
    }
}


