// Import Global Roles
@use "../sass/layout/global_roles" as *;

// Import Variables
@use "../sass/variables/colors" as *;

// Import Mixins
@use "../sass/helpers/mixin" as *;

// Start Custom From Validation
.content {
    @include centering_eles;
    position: relative;
    background-color: $main-background;
    height: 100vh;
}


.language_chooce {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
    i {
        color: white;
        padding: 0 10px;
    }
}


form {
    margin-top: 50px;
    background-color: $white_color;
    display: grid;
    grid-template-rows: 60px 1fr 60px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    & header {
        @include centering_eles;
        background-color: $grey;
        position: relative;
        border-radius: 10px 10px 0 0;
        margin-bottom: 10px;
        & .image {
            position: absolute;
            top: -60px;
            & img {
                width: 100px;
                border-radius: 50%;
            }
        }
    }
}


.inputs {
    padding: #{$padding_20}px;
    div {
        margin-bottom: 20px;
    }
    label {
        margin-bottom: 5px;
    }
    .input {
        // start with icons with inputs
        &.normal { border: 2px solid $main-background; }
        &.valide { border: 2px solid $valide; }
        &.valide::after {
            content: "\f058";
            font-family: "FontAwesome";
            padding: 0 5px;
            color: $valide;
        }
        &.error { border: 2px solid $error; }
        &.error::after {
            content: "\f06a";
            font-family: "FontAwesome";
            padding: 0 5px;
            color: $error;
        }
        // icons
        i { padding: 0 5px; }
        i.error { color: $error; }
        i.valide { color: $valide }
        i.hidden { display: none; }
    }
    input {
        padding: 5px 10px;
        width: 250px;
        font-size: 16px;
        border: 0;
        outline: 0;
    }
}


footer {
    background-color: $grey;
    border-radius: 0 0 10px 10px;
    @include centering_eles;
    button.submit {
        font-weight: 700;
        background-color: $button-color;
        padding: 5px 30px;
        width: 250px;
        font-size: 16px;
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
    }
}


