* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

button {
  outline: 0;
  border: 0;
}

input:focus {
  border-radius: 0;
}

label {
  display: block;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #101820;
  padding: 20px;
  min-height: 100vh;
}

.content.overlay::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.1019607843);
  width: 100%;
  height: 100%;
}

.content section {
  width: 500px;
}

.language_chooce {
  position: absolute;
  top: 20px;
  left: 10px;
  font-size: 20px;
  padding: 5px 10px;
}
.language_chooce a {
  color: white;
}

.popup {
  width: 300px;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  background-color: #eee;
  padding: 10px;
  z-index: 1;
  text-align: center;
  border-radius: 5px;
}
.popup .icons {
  text-align: right;
}
.popup .icons i {
  color: #05c305;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}
.popup .icons i.fa-xmark {
  font-size: 20px;
  cursor: pointer;
}
.popup .text h3 {
  margin: 15px 0 10px;
}
.popup .text input {
  font-size: 20px;
  width: 80px;
  padding: 5px 10px;
  outline: 0;
  border: 0;
  border: 2px solid #b4b4b4;
  border-radius: 5px 5px;
  margin-bottom: 10px;
}
.popup .text button {
  font-size: 20px;
  width: 100px;
  padding: 5px 10px;
  background-color: #05c305;
  color: white;
  font-weight: bold;
  border-radius: 5px 5px;
  cursor: pointer;
}

.popup.hidden {
  display: none;
}

form {
  margin-top: 50px;
  background-color: white;
  display: grid;
  grid-template-rows: 60px 1fr 60px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
form header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  position: relative;
  border-radius: 5px 5px 0 0;
}
form header .image {
  position: absolute;
  top: -60px;
}
form header .image img {
  width: 100px;
  border-radius: 50%;
}

.inputs {
  padding: 20px;
}
.inputs div {
  margin-bottom: 10px;
}
.inputs label {
  margin-bottom: 5px;
}
.inputs .input {
  margin: 0 0 4px;
}
.inputs .input.normal {
  border: 2px solid #101820;
}
.inputs .input.valide {
  border: 2px solid green;
}
.inputs .input.valide::after {
  content: "\f058";
  font-family: "FontAwesome";
  padding: 0 5px;
  color: green;
}
.inputs .input.error {
  border: 2px solid red;
}
.inputs .input.error::after {
  content: "\f06a";
  font-family: "FontAwesome";
  padding: 0 5px;
  color: red;
  text-align: left;
}
.inputs .input i {
  padding: 0 5px;
}
.inputs .input i.error {
  color: red;
}
.inputs .input i.valide {
  color: green;
}
.inputs .input i.hidden {
  display: none;
}
.inputs input {
  width: 92%;
  padding: 10px;
  font-size: 16px;
  border: 0;
  outline: 0;
}
@media (max-width: 767px) {
  .inputs input {
    width: 88%;
  }
}
.inputs p {
  font-size: 14px;
}

footer {
  background-color: #eee;
  border-radius: 0 0 5px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer button.submit {
  font-weight: 700;
  background-color: #FEE715;
  padding: 5px 30px;
  width: 250px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  border-radius: 5px;
}/*# sourceMappingURL=style.css.map */