// Start Variables


$white: white;
$main_background: #e0f1ff;
$border_radius: 3px;
$transition: 0.3s;
$btn_color: rgb(238, 89, 89);
$hover_btn_color: rgb(244, 78, 78) ;
$facebook: #3b5998;
$twitter: black;
$linkedin: blue;
$youtube: red;

