* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

button {
    outline: 0;
    border: 0;
    display: block;
}

input {
    outline: 0;
    border: 0;
}

a {
    text-decoration: none;
}

