/* Start Global Varibles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
}
:root {
    --clr-1: black;
    --clr-2: red;
}
.container {
    margin: 0 90px;
}
@media (max-width: 767px) {
    .container {
        margin: 0 20px;
    }
}
.content-page {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 15px;
}
.content-page::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f4f4f4;
    width: 100%;
    height: 200px;
    z-index: 0;
    border-radius: 0 0 20px 20px;
}
.content-page.dark {
    background-color: rgb(2 6 13);
}
.content-page.dark::before {
    background-color: #12093252;
} 
.youtube {
    color: #FF0000;
}
.instagram {
    color: #C13584;
}
.twitter {
    color: #1DA1F2;
}
.facebook {
    color: 	#1877F2;
}
.youtube, .instagram, .x, .facebook {
    font-size: 22px;
}
.down {
    color: red;
}
.up {
    color: green;
}
.box {
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}
.box.dark {
    background-color: #120932 !important;
}
/* End Global Varibles */
/* Start Section Header */
section.header  {
    position: relative;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 0 10px;
    text-align: left;
    z-index: 0;
}
section.header .text h3 {
    font-size: 25px;
    font-weight: 500;
}
section.header .text h3.dark {
    color: white;
}
section.header .text p {
    color: #b0b0b0;
    font-size: 16px;
    font-weight: 500;
}
section.header .mode {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #676767;
}
@media (max-width: 767px) {
    section.header {
        flex-direction: column;
    }
    section.header .text {
        margin-bottom: 15px;
    }
    section.header .mode {
        border-top: 1.5px solid #676767;
        padding: 15px 0;
        justify-content: space-between;
    }
}
section.header .mode .toggle {
    background-color: #bfbebe;
    width: 55px;
    height: 28px;
    border-radius: 13px;
    margin-left: 10px;
    position: relative;
    cursor: pointer;
    transition: 0.3s;
}
section.header .mode .toggle.dark {
    background: linear-gradient(to right, #00c6ff, #0072ff);
}
.toggle .circle {
    background-color: white;
    width: 22px;
    height: 80%;
    display: block;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 20px;
    transition: 0.3s;
}
.toggle .circle.dark {
    left: 53%;
    background-color: black;
}
/* End Section Header */

/* Start Main Box State */
main.state-boxes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    margin: 20px 0px 30px;
}
@media (max-width: 767px) {
    main.state-boxes {
        grid-template-columns: 100%;
    }
}
.state-boxes .box {
    padding: 20px;
    text-align: center;
    background-color: #f0f0f0;
    position: relative;
}
.state-boxes .box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
}
.state-boxes .box:nth-child(1)::before {
    background-color: #1877F2;
}
.state-boxes .box:nth-child(2)::before {
    background-color: #1DA1F2;
}
.state-boxes .box:nth-child(3)::before {
    background: linear-gradient(to right, #f58529, #feda77, #dd2a7b, #8134af, #515bd4);
}
.state-boxes .box:nth-child(4)::before {
    background-color: red;
}
.state-boxes .box i {
    margin-right: 5px;
}
.state-boxes .box .username {
    font-size: 18px;
    color: #676767;
}
.state-boxes .box .nbr-followers {
    font-size: 40px;
    font-weight: 500;
    margin: 10px 0 0;
}
.state-boxes .box .nbr-followers.dark {
    color: white;
}
.state-boxes .box .followers-label {
    color: #bfbebe;
    margin: 0 0 10px;
}
.state-boxes .box .state {
    font-size: 16px;
}
.state-boxes .box .state i {
    margin-right: 10px;
}
/* End Main Box State */

/* Start Section Overview */
section.overview {
    margin-bottom: 20px;
}
section.overview h3 {
    font-size: 23px;
    padding: 10px;
}
section.overview h3.dark {
    color: white;   
}
/* End Section Overview */
/* Start Main States */
main.today-states {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}
@media (max-width: 767px) {
    main.today-states {
        grid-template-columns: 100%;
    }
}
main.today-states .box {
    padding: 12px;
    background-color: #eee;
}
main.today-states .type {
    margin-bottom: 20px;
}
main.today-states .type p {
    color: #676767;
} 
main.today-states .type, .state-today {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
main.today-states .state-today .message {
    font-size: 30px;
    font-weight: 500;
}
main.today-states .state-today .message.dark {
    color: white;
}
/* End Main States */






